// Primary

$primary-white: #FFFFFF;
$primary-cgray: #6D6E70;
$primary-rcred: #ED1B2E;
$primary-black: #000000;

// Neutrals

$neutral-gray: #D7D7D8;
$neutral-mgray: #9F9FA3;

// Secondary

$sec-khaki: #E2D7AC;
$sec-sand: #B4A996;
$sec-gold: #ECB731;
$sec-sgreen: #8EC06C;
$sec-fgreen: #537B35;
$sec-lblue: #C4DFF6;
$sec-sblue: #56A9D3;
$sec-cblue: #0091CD;
$sec-mblue: #004B79;
$sec-dred: #7F181B;